body {
    margin: 0;
}

.header {
    width: 100%;
    height: 50px;
    background-color: gray;
    display: flex;
}

.navbar {
    width: 80%;
    height: 50%;
    background-color: bisque;
    align-self: end;
}

.content {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(212, 212, 212);
    overflow: hidden;
}

/* Sidebar to the right */

aside {
    width: 20%;
    background-color: aquamarine;
}

.articles {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-color: rgb(21, 216, 216);
    padding: 15px;

}

.entry {
    width: 75%;
    height: 80px;
    background-color: white;
}

footer {
    width: 100%;
    height: 50px;
    background-color: aquamarine;
}