table {
    border: 1px solid #263238;
    width: 50%;
    border-collapse: collapse;
}

caption {
    color:#263238;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 4px;
}

thead {
    background-color: #455a64;
    color: white;
    font-weight: 700;
    border: 1px solid #263238;
}

tbody tr:nth-child(even) {
    background-color: #eceff1;
}

tbody tr:nth-child(odd) {
    background-color: #b0bec5;
}

tfoot tr {
    background-color: #78909c;
    font-weight: 800;
}
  