:root {
    --favouriteBackColour: rgb(255, 181, 181);
    --myBallsAreThisColour: rgb(12, 12, 87);
    --unnecessaryTextColour: white;
    --standardwidth: 100px;
    --standardheight: 100px;
    --standardradius: 50px;
}

body {
    background-color: var(--favouriteBackColour);
    color: var(--unnecessaryTextColour);
}

.ball {
    width: var(--standardwidth);
    height: var(--standardheight);
    background-color: var(--myBallsAreThisColour);
    border-radius: var(--standardradius);
}
