* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Navbar {
    width: 100%;
    padding-right: 10px;
    background-color: rgb(6, 52, 92);
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

a {
    height: 100%;
    padding: 15px;
    text-decoration: none;
    color: azure;
    font-size: small;
}

#SiteTitle {
    font-size: large;
}

#LinkStandard, #DropdownLink {
    color: rgb(175, 175, 175);
}

#LinkDisabled {
    color: rgb(95, 95, 95);
}

.DropdownMenu {
    display: inline-block;
}

.DropdownButton {
    display: inline-block;
}

#DropdownLink {
    display: flex;
    align-items: center;
    gap: 5px;
}

.DropdownArrow {
    width: 15px;
    transition-duration: 0.4s;
    transition-property: transform;
}

.DropdownContent {
    display: none;
    position: absolute;
    width: 175px;
    background-color: #f9f9f9;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.DropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.SearchBar {
    margin-left: auto;
}

.SearchBarContent {
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
}

.SearchInput {
    padding: 5px 8px;
    border-radius: 4px;
    border: none;
}

.SearchButton {
    padding: 5px 8px;
    border: 1px solid rgb(0, 212, 0);
    border-radius: 4px;
    color: rgb(0, 212, 0);
    background-color: inherit;
    font-weight: bold;
}



/* Hovers & other states */

a:hover {
    background-color: rgb(0, 212, 0);
}

#LinkDisabled:hover {
    background-color: rgb(6, 52, 92);
    color: black;
}

.SearchInput:focus {
    border: 1px solid rgb(0, 212, 0);
}

.SearchButton:focus {
    border: 1px solid rgb(6, 52, 92);
    background-color: rgb(0, 212, 0);
    color: rgb(6, 52, 92);
}

.DropdownMenu:hover .DropdownArrow {
    transform: rotate(180deg);
}

.DropdownMenu:hover .DropdownContent {
    display: block;
}

.DropdownMenu:hover .DropdownContent a:hover {
    background-color: aliceblue;
    font-weight: bolder;
}



/* Animations */


/* Media queries */

@media (max-width: 768px) {
    .Navbar {
        flex-direction: column;
        justify-content: flex-start;
        padding-right: 0;
    }
    a {
        width: 100%;
    }
    .DropdownMenu {
        width: 100%;
    }
    .DropdownButton{
        width: inherit;
    }
    .DropdownLink {
        width: inherit;
    }
    .DropdownMenu:hover .DropdownContent {
        display: block;
        width: 100%;
    }
    .SearchBar {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        align-self: flex-start;
    }
    .SearchInput {
        width: 80vw;
    }
}