* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Navbar {
    width: 100%;
    padding-right: 10px;
    background-color: rgb(6, 52, 92);
}

a {
    height: 100%;
    padding: 15px;
    display: inline-block;
    text-decoration: none;
    color: azure;
    font-size: small;
}

#SiteTitle {
    font-size: large;
}

#LinkStandard, #DropdownLink {
    color: rgb(175, 175, 175);
}

#LinkDisabled {
    color: rgb(95, 95, 95);
}

.DropdownMenu {
    width: fit-content;
    display: inline-block;
}

.DropdownButton {
    display: inline-block;
}

#DropdownLink {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.DropdownArrow {
    height: 18px;
    color: white;
}

.DropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.DropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.SearchBar {
    display: inline-block;
}

.SearchInput {
    height: 100%;
}

.SearchButton {
    height: 25px;
    padding: 10px;
    border: 1px solid green;
    border-radius: 4px;
    color: green;
    background-color: inherit;
    font-weight: bold;
}



/* Hovers & other states */

a:hover {
    background-color: rgb(223, 225, 79);
}

#LinkDisabled:hover {
    background-color: rgb(6, 52, 92);
    color: black;
}

.SearchButton:focus {
    border: 1px solid rgb(6, 52, 92);
    background-color: green;
    color: rgb(6, 52, 92);
}

/* Animations */



/* Media queries */