body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    ;
}

* {
    box-sizing: border-box;
    
}

.sidebar {
    width: 200px;
    height: 100vh;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    max-width: 50%;
    margin-bottom: 20px;
}

.navigation {
    display: flex;
    flex-direction: column;
}

.navigation a {
    text-decoration: none;
    color: #2b2b2b;
    margin: 10px 0;
    transition: color 0.3s ease;
}

.navigation a:hover {
    color: #2b2bb2;
}

.user-info img {
    width: 50px;
    height: 50px;
}

.user-info p {
    margin-top: 10px;
    color: #2b2b2b;
}