body {
    margin: 0;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 100px, 100px, 100px, 100px;
    gap: 30px;
}

#green {
    background-color: rgb(180, 255, 180);
    padding: 20px;
    grid-column-start: 1;
    grid-column-end: 4;
}

#yellow {
    background-color: rgb(255, 255, 188);
    padding: 20px;
}

#orange {
    background-color: rgb(255, 212, 132);
    padding: 20px;

}

#red {
    background-color: rgb(255, 145, 145);
    padding: 20px;

}

#blue {
    background-color: rgb(205, 236, 255);
    padding: 20px;
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

li {
    width: max-content;
    padding: 20px;
    list-style-type: none;
    background-color: white;
}

ul {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 40px;
}